# Игнорируем всё
*

# Не игнорировать определённые папки и их содержимое
!resource/
!screenshot/
!src/

# Важно: для учета вложенных файлов (включая .gitkeep)
!resource/**
!screenshot/**
!src/**

# Исключить из игнора важные файлы в корне
!.gitignore
!README.md